<a href="https://colab.research.google.com/github/saurav11sarkar/ML/blob/main/Data_preprossing_Data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Research/data.csv')

In [ ]:
df

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,#NAME?,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,43,Private,222971,5th-6th,3,Never-married,Machine-op-inspct,Unmarried,White,Female,0,0,40,Mexico,<=50K
4996,31,Private,259425,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,>50K
4997,47,Self-emp-inc,212120,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,>50K
4998,#NAME?,Private,245880,HS-grad,9,Never-married,Adm-clerical,Not-in-family,White,Male,0,0,60,United-States,<=50K
4999,58,Local-gov,54947,Some-college,10,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,55,United-States,<=50K

In [ ]:
df.shape

(5000, 15)

In [ ]:
df.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
income            0
dtype: int64

In [ ]:
df['age'].unique()

array(['39', '50', '38', '53', '28', '37', '49', '52', '31', '42', '30',
       '23', '32', '40', '34', '#NAME?', '43', '54', '35', '59', '56',
       '19', '20', '45', '22', '48', '21', '24', '25', '57', '44', '41',
       '29', '18', '47', '46', '36', '79', '27', '67', '33', '76', '17',
       '55', '61', '70', '64', '71', '68', '66', '51', '58', '26', '60',
       '90', '75', '65', '77', '62', '63', '80', '72', '74', '69', '73',
       '81', '78', '88', '82'], dtype=object)

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Research/data.csv',na_values=['#NAME?'])

In [ ]:
df

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39.0,State-gov,77516.0,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50.0,Self-emp-not-inc,83311.0,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38.0,Private,215646.0,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53.0,Private,234721.0,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,NaN,0,0,40,United-States,<=50K
4,28.0,Private,338409.0,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,43.0,Private,222971.0,5th-6th,3.0,Never-married,Machine-op-inspct,Unmarried,White,Female,0,0,40,Mexico,<=50K
4996,31.0,Private,259425.0,HS-grad,9.0,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,>50K
4997,47.0,Self-emp-inc,212120.0,HS-grad,9.0,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,>50K
4998,NaN,Private,245880.0,HS-grad,9.0,Never-married,Adm-clerical,Not-in-family,White,Male,0,0,60,United-States,<=50K
4999,58.0,Local-gov,54947.0,Some-college,10.0,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,55,United-States,<=50K

In [ ]:
df.isnull().sum()

age                48
workclass           0
fnlwgt            107
education           0
education_num      57
marital_status      0
occupation          0
relationship        0
race              264
sex                47
capital_gain        0
capital_loss        0
hours_per_week      0
native_country      0
income              0
dtype: int64

In [ ]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education_num',
       'marital_status', 'occupation', 'relationship', 'race', 'sex',
       'capital_gain', 'capital_loss', 'hours_per_week', 'native_country',
       'income'],
      dtype='object')

In [ ]:
df['income'].value_counts()

<=50K    3779
>50K     1221
Name: income, dtype: int64

In [ ]:
df['income'] = [0 if x == '<=50K' else 1 for x in df['income']]

In [ ]:
df

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39.0,State-gov,77516.0,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50.0,Self-emp-not-inc,83311.0,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38.0,Private,215646.0,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53.0,Private,234721.0,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,NaN,0,0,40,United-States,0
4,28.0,Private,338409.0,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,43.0,Private,222971.0,5th-6th,3.0,Never-married,Machine-op-inspct,Unmarried,White,Female,0,0,40,Mexico,0
4996,31.0,Private,259425.0,HS-grad,9.0,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,1
4997,47.0,Self-emp-inc,212120.0,HS-grad,9.0,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,1
4998,NaN,Private,245880.0,HS-grad,9.0,Never-married,Adm-clerical,Not-in-family,White,Male,0,0,60,United-States,0
4999,58.0,Local-gov,54947.0,Some-college,10.0,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,55,United-States,0

In [ ]:
df['income'].value_counts()

0    3779
1    1221
Name: income, dtype: int64

In [ ]:
x = df.drop(columns='income')

In [ ]:
x

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country
0,39.0,State-gov,77516.0,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States
1,50.0,Self-emp-not-inc,83311.0,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States
2,38.0,Private,215646.0,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States
3,53.0,Private,234721.0,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,NaN,0,0,40,United-States
4,28.0,Private,338409.0,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,43.0,Private,222971.0,5th-6th,3.0,Never-married,Machine-op-inspct,Unmarried,White,Female,0,0,40,Mexico
4996,31.0,Private,259425.0,HS-grad,9.0,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States
4997,47.0,Self-emp-inc,212120.0,HS-grad,9.0,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States
4998,NaN,Private,245880.0,HS-grad,9.0,Never-married,Adm-clerical,Not-in-family,White,Male,0,0,60,United-States
4999,58.0,Local-gov,54947.0,Some-college,10.0,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,55,United-States

In [ ]:
y = df['income']

In [ ]:
y

0       0
1       0
2       0
3       0
4       0
       ..
4995    0
4996    1
4997    1
4998    0
4999    0
Name: income, Length: 5000, dtype: int64

# Data cleaning

In [ ]:
x.isnull().sum()

age                48
workclass           0
fnlwgt            107
education           0
education_num      57
marital_status      0
occupation          0
relationship        0
race              264
sex                47
capital_gain        0
capital_loss        0
hours_per_week      0
native_country      0
dtype: int64

In [ ]:
y.isnull().sum()

0

In [ ]:
new_df = df.dropna()
new_df

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39.0,State-gov,77516.0,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50.0,Self-emp-not-inc,83311.0,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38.0,Private,215646.0,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
4,28.0,Private,338409.0,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0
5,37.0,Private,284582.0,Masters,14.0,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4994,39.0,Private,214816.0,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,0
4995,43.0,Private,222971.0,5th-6th,3.0,Never-married,Machine-op-inspct,Unmarried,White,Female,0,0,40,Mexico,0
4996,31.0,Private,259425.0,HS-grad,9.0,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,1
4997,47.0,Self-emp-inc,212120.0,HS-grad,9.0,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,1
4999,58.0,Local-gov,54947.0,Some-college,10.0,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,55,United-States,0

In [ ]:
new_df.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
income            0
dtype: int64

In [ ]:
new_df.shape

(4496, 15)

In [ ]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4496 entries, 0 to 4999
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             4496 non-null   float64
 1   workclass       4496 non-null   object
 2   fnlwgt          4496 non-null   float64
 3   education       4496 non-null   object
 4   education_num   4496 non-null   float64
 5   marital_status  4496 non-null   object
 6   occupation      4496 non-null   object
 7   relationship    4496 non-null   object
 8   race            4496 non-null   object
 9   sex             4496 non-null   object
 10  capital_gain    4496 non-null   int64
 11  capital_loss    4496 non-null   int64
 12  hours_per_week  4496 non-null   int64
 13  native_country  4496 non-null   object
 14  income          4496 non-null   int64
dtypes: float64(3), int64(4), object(8)
memory usage: 562.0+ KB

In [ ]:
x = new_df.drop(columns='income')

In [ ]:
x

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country
0,39.0,State-gov,77516.0,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States
1,50.0,Self-emp-not-inc,83311.0,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States
2,38.0,Private,215646.0,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States
4,28.0,Private,338409.0,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba
5,37.0,Private,284582.0,Masters,14.0,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4994,39.0,Private,214816.0,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States
4995,43.0,Private,222971.0,5th-6th,3.0,Never-married,Machine-op-inspct,Unmarried,White,Female,0,0,40,Mexico
4996,31.0,Private,259425.0,HS-grad,9.0,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States
4997,47.0,Self-emp-inc,212120.0,HS-grad,9.0,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States
4999,58.0,Local-gov,54947.0,Some-college,10.0,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,55,United-States

In [ ]:
y = new_df['income']

In [ ]:
y

0       0
1       0
2       0
4       0
5       0
       ..
4994    0
4995    0
4996    1
4997    1
4999    0
Name: income, Length: 4496, dtype: int64

In [ ]:
print(x.shape)
print(y.shape)

(4496, 14)
(4496,)

In [ ]:
x.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4496 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             4496 non-null   float64
 1   workclass       4496 non-null   object
 2   fnlwgt          4496 non-null   float64
 3   education       4496 non-null   object
 4   education_num   4496 non-null   float64
 5   marital_status  4496 non-null   object
 6   occupation      4496 non-null   object
 7   relationship    4496 non-null   object
 8   race            4496 non-null   object
 9   sex             4496 non-null   object
 10  capital_gain    4496 non-null   int64
 11  capital_loss    4496 non-null   int64
 12  hours_per_week  4496 non-null   int64
 13  native_country  4496 non-null   object
dtypes: float64(3), int64(3), object(8)
memory usage: 526.9+ KB

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
le_x = LabelEncoder()

In [ ]:
x['workclass'] = le_x.fit_transform(x.workclass)
x['education'] = le_x.fit_transform(x.education)
x['marital_status'] = le_x.fit_transform(x.marital_status)
x['occupation'] = le_x.fit_transform(x.occupation)
x['relationship'] = le_x.fit_transform(x.relationship)
x['race'] = le_x.fit_transform(x.race)
x['sex'] = le_x.fit_transform(x.sex)
x['native_country'] = le_x.fit_transform(x.native_country)

In [ ]:
x

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country
0,39.0,6,77516.0,9,13.0,4,1,1,4,1,2174,0,40,36
1,50.0,5,83311.0,9,13.0,2,4,0,4,1,0,0,13,36
2,38.0,3,215646.0,11,9.0,0,6,1,4,1,0,0,40,36
4,28.0,3,338409.0,9,13.0,2,10,5,2,0,0,0,40,5
5,37.0,3,284582.0,12,14.0,2,4,5,4,0,0,0,40,36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4994,39.0,3,214816.0,9,13.0,2,4,0,4,1,0,0,60,36
4995,43.0,3,222971.0,4,3.0,4,7,4,4,0,0,0,40,24
4996,31.0,3,259425.0,11,9.0,2,3,0,4,1,0,0,40,36
4997,47.0,4,212120.0,11,9.0,2,3,0,4,1,0,0,40,36
4999,58.0,2,54947.0,15,10.0,4,10,1,4,0,0,0,55,36

In [ ]:
x.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4496 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             4496 non-null   float64
 1   workclass       4496 non-null   int64
 2   fnlwgt          4496 non-null   float64
 3   education       4496 non-null   int64
 4   education_num   4496 non-null   float64
 5   marital_status  4496 non-null   int64
 6   occupation      4496 non-null   int64
 7   relationship    4496 non-null   int64
 8   race            4496 non-null   int64
 9   sex             4496 non-null   int64
 10  capital_gain    4496 non-null   int64
 11  capital_loss    4496 non-null   int64
 12  hours_per_week  4496 non-null   int64
 13  native_country  4496 non-null   int64
dtypes: float64(3), int64(11)
memory usage: 526.9 KB

# Model train(80% or 70%) and testing(20% or 30%)

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=.2,random_state=1)

In [ ]:
xtrain

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country
4329,63.0,3,149756.0,7,12.0,0,4,1,4,1,0,0,40,36
2386,33.0,5,312055.0,9,13.0,2,12,0,4,1,0,0,45,36
2187,24.0,3,353010.0,9,13.0,4,7,1,4,1,0,0,65,36
2370,36.0,6,166606.0,11,9.0,2,11,0,4,1,0,0,40,36
1183,32.0,3,202952.0,11,9.0,2,1,0,4,1,0,0,40,36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3236,41.0,3,149102.0,11,9.0,3,3,1,4,1,0,0,40,29
3089,51.0,5,145409.0,9,13.0,2,12,0,4,1,15024,0,50,36
1006,66.0,3,271567.0,11,9.0,5,7,1,2,1,0,0,40,36
4437,56.0,0,132930.0,12,14.0,4,0,1,4,0,0,0,50,36
260,36.0,3,150042.0,9,13.0,0,10,3,4,0,0,0,40,36

In [ ]:
xtest

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country
4027,57.0,5,47857.0,15,10.0,2,5,0,4,1,0,0,50,36
2325,39.0,3,77146.0,9,13.0,2,4,0,4,1,0,1887,50,36
68,49.0,4,191681.0,15,10.0,2,4,0,4,1,0,0,50,36
50,25.0,3,32275.0,15,10.0,2,4,5,3,0,0,0,40,36
1656,26.0,0,211798.0,11,9.0,5,0,4,4,0,0,0,40,36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1987,28.0,0,169631.0,7,12.0,1,0,5,4,0,0,0,3,36
2532,18.0,2,134935.0,2,8.0,4,11,3,4,1,0,0,40,36
3027,42.0,4,187702.0,14,15.0,2,10,0,4,1,0,2415,60,36
1696,49.0,3,32212.0,11,9.0,2,4,5,4,0,0,0,43,36
4178,49.0,3,166789.0,11,9.0,2,1,0,4,1,0,0,40,36

In [ ]:
ytrain

4329    1
2386    1
2187    0
2370    0
1183    0
       ..
3236    0
3089    1
1006    0
4437    1
260     0
Name: income, Length: 3596, dtype: int64

In [ ]:
ytest

4027    0
2325    1
68      1
50      0
1656    0
       ..
1987    0
2532    0
3027    1
1696    0
4178    0
Name: income, Length: 900, dtype: int64

In [ ]:
xtrain.shape

(3596, 14)

In [ ]:
xtest.shape

(900, 14)

# Model build

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
lg = LogisticRegression()

In [ ]:
lg.fit(xtrain,ytrain)

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [ ]:
predtions = lg.predict(xtest)
predtions

array([0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0])

In [ ]:
x = 0
for i in ytest:
  if x <= 10:
    print(i)
    x += 1
  else:
    break

0
1
1
0
0
1
0
1
0
0
0

In [ ]:
lg.score(xtest,ytest)

0.7822222222222223